@import "./fonts.css";

@theme {
    --font-poppins: "Poppins", Arial, sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #1368EC;
}

@layer base {
    html {
        font-family: var(--font-poppins);
    }

    body {
        background-color: #fcfbfc;
        overflow-x: hidden;
    }
}

.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100/50 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}

.btn-primary {
    box-shadow: 0 0 40px 40px var(--color-primary) inset, 0 0 0 0 var(--color-primary);
    @apply w-full text-sm font-medium text-white bg-primary shadow-lg shadow-purple-600/5 p-2.5 rounded-md my-1 hover:bg-blue-600/15 cursor-pointer border-primary transition-all duration-300 ease-in-out hover:text-primary;
}

.btn-primary:hover {
    box-shadow: 0 0 0px 0 var(--color-primary) inset, 0 0 5px 2px var(--color-primary);
}

.card {
    @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50;
}

.card-btn {
    @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 hover:text-primary bg-gray-50 hover:bg-blue-50 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer;
}

.card-btn-fill {
    @apply flex items-center gap-3 text-[12px] font-medium text-white hover:text-primary bg-primary hover:bg-blue-50 px-4 py-1.5 rounded-lg border border-primary cursor-pointer;
}

.form-card {
    @apply bg-white p-6 rounded-lg shadow-md shadow-gray-100 border border-gray-200/50;
}

.form-input {
    @apply w-full text-sm text-black outline-none bg-white border border-slate-100 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500;
}

.add-btn {
    @apply w-full flex items-center justify-center gap-1.5 text-xs md:text-sm font-medium text-primary whitespace-nowrap bg-blue-50 border border-blue-100 rounded-lg px-4 py-2 cursor-pointer;
}

.download-btn {
    @apply items-center gap-3 text-xs md:text-[13px] text-lime-900 bg-lime-100 px-2 md:px-3 py-2 rounded border border-lime-200 hover:border-lime-400 cursor-pointer;
}

.user-card {
    @apply bg-white p-4 rounded-xl shadow-md shadow-gray-100 border border-gray-200/50;
}

.delete-btn {
    @apply flex items-center gap-1.5 text-xs md:text-sm font-medium text-red-600 whitespace-nowrap bg-red-50 border border-red-100 rounded-lg px-4 py-2 cursor-pointer;
}